@CHARSET "UTF-8";


body{
	margin:0px;
}

.main{
	position: fixed;
	width: 100%;
	height: 100%;
	background:#e4e4e4;
}

.login-content{
    position: absolute;
    clear: none;
    float: left;
    width: 450px;
    height: 300px;
    border: 1px solid #aaa;
    left: 50%;
    margin-left: -225px;
    margin-top: -150px;
    top: 50%;
}

.login-image{
	height: 120px;
	background: #9090e9;
}
.button-login{
	float: right;
	margin: 30px;
}
.input-name, .input-password{
	margin:10px;
}
.input-name input{
	width:415px;
}
.input-password input{
	width:415px;
}